.container{
    display: grid;
    grid-template: 30px 30px 30px / 1fr 1fr 1fr;
    grid-gap: 10px;
}

.container div{
    padding: 10px;
}

.un{
    grid-column: 1/4;
    background: coral;
}

.deux{
    grid-row: 2/4;
    background: rgb(58, 225, 255);
}

.trois{
    background: saddlebrown;
}

.quatre{
    background: rgb(252, 255, 80);
}

.cinq{
    grid-column: 2/4;
    background: rgb(255, 113, 189);
}
.six{
    grid-column: 1/3;
    background: grey ;
}

.sept{
    background: salmon;
}

.huit{
    grid-column:1/4;
    background: rgb(76, 158, 94);
}