.container{
    display: grid;
    grid-template: 50px 50px/ 1fr 1fr 1fr;
    grid-gap: 20px;
}

.container *{
    background-color: brown;
}
.section-a {
    grid-column: 1/3;
}

.section-b{
    grid-column: 3/4;
    grid-row: 1/3;
}