.container-2{
    display: grid;
    grid-template: 30px 30px/ 1fr 2fr;
    grid-gap: 10px;
}

.container-2 *{
    background-color: brown;
}

header {
    grid-column: 2/3;
}
/*
grid-template-areas:
". header header

"
*/
.section-a {
    grid-column: 1/2;
    grid-row: 2/10;
}

.section-b{
    grid-column: 2/4;
    grid-row: 2/10;
}