.container{
    display: grid;
    grid-template: 150px 150px 150px 150px / 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}
.container *{
    background-color: rgb(1, 168, 154);
    color:white;
}

div{
    color:white;
}

header {
    grid-column: 1/5;  
}

.section-1{
    grid-column: 1/4;
}

footer{
    grid-column: 1/5;
}



  
 @media screen and (max-width: 1001px) {
  

    div{
        color:white;
    }

    header {
        grid-column: 1/5;  
    }
    .section-1{
        grid-column: 1/5;
    }
    .section-2{
        grid-column: 1/5;
    }
    footer{
        grid-column: 1/5;
    }
} 

@media screen and (max-width: 540px) {
    div{
        color:rgb(255, 97, 97);
    }
    header{
        grid-column: 1/5;  
    }
    .section-1{
        grid-column: 1/5;
    }
    .section-2{
        display: none;
    }
    footer{
        grid-column: 1/5;
    }
}