.container{
    display: grid;
    grid-template: 150px 150px 150px / 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.container *{
    background-color: rgb(85, 85, 85);
    color:white;
}

div{
    color:white;
}

.A {
    grid-column: 1/3;    
}

.B{
    grid-column: 3/5;
}

.C{
    grid-column: 1/2;
}

.D{
    grid-column: 2/5;
}

.E{
    grid-column: 1/5;
}
