.container{
    display: grid;
    grid-template: 150px 150px 150px / 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
}

.container *{
    background-color: rgb(187, 63, 14);
}

body div div{
    color: white;
}

.A {
    grid-column: 1/3;
}

.B{
    grid-column: 3/5;
}

.C{
    grid-column: 1/3;
    grid-row: 2/4;
}

.D{
    grid-column: 3/5;
    grid-row: 2/4;
    display: grid;
    grid-template: 150px 150px / 1fr 1fr;
    grid-gap: 5px;
}

.D div {
    margin : 10px;
    background-color: rgb(52, 185, 12);
}

.E {
    grid-column: 1/3;
}
